 <% obj.each do |item|%>
  <div class = "row">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="well well-lg">
        <div class="article-title">
          <%= link_to item.title, article_path(item)%>
        </div>
        <div class = "article-body">
          <%= truncate(item.description,length: 500)%> 
        </div>

        
        <%if logged_in? && current_user == item.user %>

          <div class="article-actions"> 
            <%= link_to "Edit this article", edit_article_path(item), class: "btn btn-xs btn-primary"%>
            <%= link_to "Delete this article", article_path(item), method: :delete, data:{confirm:"Are you sure you want to delete the article?"},
                                    class: "btn btn-xs btn-primary"%>
          </div>
        <%end%>
      
      </div>
    </div> 
  </div>  
 <%end%>

