
@import "bootstrap";

.navbar{
  background-color: #7f99c1;
}

#logo{
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover{ 
  color: #fff;
  text-decoration: none;
}

.container {
width: 1300px;
margin: 0 auto;
}

.center{
  text-align: center;
}

.jumbotron {
  background-image: asset-url('blogs.jpg');
  background-size: cover;
  height: 700px;
}

.jumbotron h1 {
    color: #7f99c1;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: -1px;
    font-weight: bold;
}

.btn-xlarge{
  font-size: 1.7em;
  background-color: black;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a:hover {
  color: #222;
}

footer small{
  float: left;
}

footer ul{
  float: right;
  list-style: none;
}
 footer ul li{
   float: left;
 }

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */
