<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="www.prabeshdahal.com.np">J vaye ni euta line </a> 
      by <a href="www.prabeshdahal.com.np"> Prabesh Dahal </a>
    </small>
    <nav>
      <ul>
       <li> <%= link_to 'About', about_path %>
      </ul>
    </nav>  
  </footer>
</div>